---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.social .contact-icons {
  font-size: 2.5rem;
}

.contact-icons a {
  margin: 0px 5px;
}

.social {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--global-divider-color);
}

a.navbar-brand.active.title {
  color: var(--global-text-color-light);
}

.spl-header {
  background: 0!important;
}

.spotlight-flex a {
  text-align: center;
}

.spotlight-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.spotlight-flex > a.spotlight,
.spotlight-flex > a.spotlight > img {
  max-width: 100%;
}

.divider-bottom {
  border-bottom: 1px solid var(--global-divider-color);
}

.divider-top {
  border-top: 1px solid var(--global-divider-color);
}

.flex-divider {
  flex-basis: 100%;
  width: 100%;
  border-bottom: 2px solid rgb(0 0 0 / 20%);
  display: block;
  height: 0px;
  margin: 10px 0px;
}

:root {
  --navbar-width: 270px;
}

li.nav-subitem {
  padding-left: 15px;
}

/* Custom CSS: left nav-menu */
@media (min-width: 576px) {
  nav#navbar {
    position: fixed;
    width: var(--navbar-width);
    height: 100%;
    padding: 50px 15px;
    border-right: 3px solid #ebebeb;
    z-index: 99999;
    background-color: var(--global-bg-color);
  }

  body > header {
    position: fixed;
    z-index: 99999;
  }

  #navbar > .container {
    height: 100%;
    width: 100%;
    display: block;
  }

  div[role=main] {
    margin: 0 0 0 var(--navbar-width);
    position: absolute;
    top: 0;
    z-index: 100;
    background: 0;
    padding: 0px 35px 60px 35px;
    left: 0;
    right: 0;
    max-width: unset;
    width: calc(100% - var(--navbar-width));
  }

  footer.fixed-bottom[role=contentinfo] {
    margin-left: var(--navbar-width);
    background: var(--global-bg-color);
    z-index: 99999;
    padding: 0px;
    border-top: 3px solid #ebebeb;
  }

  footer.fixed-bottom[role=contentinfo] .container {
    color: #555;
  }

  footer.fixed-bottom[role=contentinfo] .container a {
  color: #555;
  text-decoration: underline
  }

  #navbar ul.navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }

  .navbar-expand-sm .navbar-collapse {
    display: block !important;
  }

  progress#progress {
    position: fixed;
    top: 0!important;
    left: 0!important;
    z-index: 9999;
    display: block;
    width: 100vh;
    height: 4px;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 2px 2px;
  }

  #navbar li.nav-item {
    line-height: 0.8em;
  }

  #navbar a.navbar-brand {
    margin-bottom: 20px;
  }
}

/* Preview gallery */
.preview-gallery {
  display: inline-block;
  position: relative;
  margin: 5px 5px;
}

.preview-gallery-image {
  display: block;
  width: 480px;
  height: auto;
  max-width: 100%;
}

.preview-gallery .preview-gallery-prev,
.preview-gallery .preview-gallery-next{
    display: block;
    background-color: white;
    bottom: 33px;
    position: absolute;
    padding: 5px 12px;
    font-size: 25px;
    transition: all 500ms ease;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0.7;
}

.preview-gallery .preview-gallery-prev {
    left: 0;
}

.preview-gallery .preview-gallery-next {
    right: 0;
}

.preview-gallery .preview-gallery-next:hover,
.preview-gallery .preview-gallery-prev:hover {
    color: white;
    background-color: black;
}

.preview-gallery .preview-gallery-item.visible {
  position: relative;
}

.preview-gallery-next, 
.preview-gallery-prev {
    visibility: hidden;
}

.preview-gallery:hover .preview-gallery-next, 
.preview-gallery:hover .preview-gallery-prev {
    visibility: visible;
}

.preview-gallery-title {
  height: 25px;
  margin: 2px 6px 6px 6px;
  font-size: 16px;
}

.preview-gallery-title > a {
  color: black;
}

.max-width {
  max-width: 100%;
}